<button mat-icon-button aria-label="Remind me">
    <mat-icon fontSet="material-icons-outlined" aria-label="Remind me">add_alert</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">person_add_alt</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">image</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">archive</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <div>
        <mat-menu #menu="matMenu">
            <div>
                <div class="delete-btn-style" fxLayout="column">
                    <app-delete-note [noteId]="id"></app-delete-note>
                    <button mat-stroked-button class="delete-btn" fxFlex='stretch'>Add label</button>
                </div>
            </div>
        </mat-menu>
    </div>
    <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
</button>