<button mat-icon-button aria-label="Remind me">
    <mat-icon fontSet="material-icons-outlined" aria-label="Remind me">add_alert</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">person_add_alt</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">palette</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">image</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">archive</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
</button>
