<div flexLayoutAlign="center center" class="frame">
        <mat-expansion-panel hideToggle class="addNote" [expanded]="panelSize">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <form style="padding-top: 1.5%;" #noteForm="ngForm" (ngSubmit)="noteForm.reset()">
                        <input class="title" matInput placeholder="Title" [(ngModel)]="note.title" autocomplete="off"
                            type="text" name="first">
                    </form>
                    <div style="margin-left: 80%;">
                        <button mat-icon-button>
                            <mat-icon fontSet="material-icons-outlined" aria-label="Remind me">push_pin</mat-icon>
                        </button>
                        </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form #noteForm="ngForm" (ngSubmit)="submit();noteForm.reset()">
                <input class="title" matInput placeholder="Take a note..." [(ngModel)]="note.description" autocomplete="off" type="text" name="first">
                <div class="close-button">
                    <app-icons></app-icons>
                    <button mat-button (click)="close();">close</button>
                </div>
            </form>
        </mat-expansion-panel>
</div>
<div class="get-note-frame">
    <app-get-notes></app-get-notes>
</div>
