<div class="main-box">
    <ng-container *ngFor="let array of notes">
        <div class="box" *ngIf="array.isTrashed == false" fxFlexAlign="stretch">
            <mat-card class="card" (click)="fetchNoteId(array._id)">
                <div (click)="updateNote(array)" class=array-content>
                    <div>
                        {{array.title}}
                    </div>
                    <div class="description-content">
                        {{array.description}}
                    </div>
                </div>
                <app-icons [id]="id"class="icons"></app-icons>
            </mat-card>
        </div>
    </ng-container>
</div>