.card{
    width: 240px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 73%;
    flex-wrap: wrap;
}

.main-box{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}
.box{
    //width: 25%;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    height: auto;
    flex: 0 0 25%;
}

.icons {
    width: 15px; 
    display: flex; 
    margin-left: 0%;
    padding-top: 12%;  
}

.array-content {
    padding-left: 4.5%;

    .description-content {
        padding-top: 10%;
    }
}

@media (max-width: 768px) {
    .main-box{
        display: flex;
    }
}