<div class="frame" fxFlexFill>
    <mat-card fxFlex="100">
        <div>
            <button mat-icon-button>
                <mat-icon (click)="toggle()">menu</mat-icon>
            </button>
        </div>
        <div class="keep-icon" role="button">
            <button mat-flat-button style="padding: 0%;"><img class="google"
                    src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
                    srcset="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png 2x "
                    alt="" aria-hidden="true" style="width:40px;height:40px;padding-top: 0px;">
            </button>
        </div>
        <div class="title">
            <app-title></app-title>
        </div>
        <div class="search">
            <app-search></app-search>
        </div>
        <div class="menu-style">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <div>
                    <mat-menu #menu="matMenu">
                        <div class="content">
                            <h3>Hello, {{ firstName }}</h3>
                            <h3>{{ email }}</h3>
                            <div class="logout-btn-style">
                                <button mat-stroked-button [routerLink]="['/login']" class="logout-btn">Logout</button>
                            </div>
                        </div>
                    </mat-menu>
                </div>
                <mat-icon class="profile-btn" fontSet="material-icons-outlined">account_circle</mat-icon>
            </button>
        </div>
        <div>
            <app-side-navigation [toggle]="isMenuOpen"></app-side-navigation>
        </div>
    </mat-card>
</div>