<div class="frame" fxFlexFill>
    <mat-card fxFlex="100" style="display: flex;">
        <div fxLayout="column">
        <button mat-icon-button>
            <mat-icon (click)="toggle()">menu</mat-icon>
          </button>
          <app-side-navigation style="padding-top: 50%; margin-left: 20%;"></app-side-navigation>
          </div>
            <div class="keep-icon" role="button">
                <button mat-flat-button style="padding: 0%;"><img class="google"
                        src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
                        srcset="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png 1x, https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png 2x "
                        alt="" aria-hidden="true" style="width:40px;height:40px;padding-top: 0px;"> 
                </button>
            </div>
            <div class="title">
                <app-title></app-title>
            </div>
            <div class="search">
                <app-search></app-search>
            </div>
    </mat-card>
</div>
<div class="sidenav">
    <app-side-navigation style="padding-right: 50%;"></app-side-navigation>
</div>