<div fxLayoutAlign="center center" fxFlexFill class="frame">
    <mat-card fxFlex="30">
        <div class="title">
            <app-title></app-title>
        </div>
        <div class="card" role="presentation">
            <div class="form">
                <form fxLayoutAlign="stretch" fxLayout="column" class="credentials">
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="Enter your new password" name="password" [(ngModel)]="resetData.password" required>
                    </mat-form-field>

                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm your password" name="password" required>
                    </mat-form-field>

                    <button mat-stroked-button class="reset-button" (click)="submit()">Confirm</button>
                </form>
            </div>
        </div>
    </mat-card>
</div>

