@import '../../style/variables';
@import '../../style/mixin';

.frame mat-card {
    border: 1px solid $gray;
}

.title {
    padding: 2%;
    margin-left: 3%;
}

.reset-button {
    @include buttonStyle;
}

.login-link {
    text-decoration: none;
    color: $dodgerBlue;
    padding-top: 2%;
    margin-left: 90%;
}

.form {
    padding: 20px;
}

.credentials {
    width: 100%;
}