@import '../../componentsStyling/variables';
@import '../../componentsStyling/mixin';

.frame mat-card {
    border: 1px solid $gray;
}

.title {
    padding: 2%;
    margin-left: 3%;
}

.reset-button {
    @include buttonStyle;
}

.form {
    padding: 20px;
}

.credentials {
    width: 100%;
}

