<div fxLayoutAlign="center center" fxFlexFill class="frame">
    <mat-card fxFlex="30">
        <div class="title">
            <app-title></app-title>
        </div>
        <div class="card" role="presentation">
            <div class="form">
                <form fxLayoutAlign="stretch" fxLayout="column" class="credentials">
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter your Email to reset your password" name="email" [(ngModel)]="user.email" required>
                    </mat-form-field>

                    <button mat-stroked-button class="reset-button" (click)="submit()">Send Email</button>
                </form>
            </div>
        </div>
    </mat-card>
</div>
