.frame mat-card {
    border: 1px solid #e5e5e5
}

.title {
    padding: 2%;
    margin-left: 3%;
}

.reset-button {
    background-color: dodgerblue;
    color: white;
}

.form {
    padding: 20px;
}

.credentials {
    width: 100%;
}

.reset-password-button {
    text-decoration: none;
    color: dodgerblue;
    padding-top: 2%;
    margin-left: 70%;
}
