@import '../../componentsStyling/variables';
@import '../../componentsStyling/mixin';

.card {
    display: flex;
}

.frame mat-card {
    border: 1px solid $gray
}

.title {
    padding: 2%;
    margin-left: 3%;
}

.login-form {
    padding: 20px;
}

.login-credentials {
    width: 100%;
}

.login-button {
    @include buttonStyle;
}

.register-link {
    border: $white;
    background-color: $white;
    color: $dodgerBlue;
    text-decoration: none;
}

.links {
    display: flex;
    padding-top: 5%;
}