<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30">
        <div class="title">
            <app-title></app-title>
        </div>
        <div class="card" role="presentation">
            <div class="login-credentials">
                <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" name="email" required>
                    </mat-form-field>

                    <mat-form-field hideRequiredMarker appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" name="password" required>
                    </mat-form-field>

                    <button mat-stroked-button class="login-button">login</button>
                    <div class="buttons">
                            <button mat-stroked-button class="register-button" [routerLink]="['/register']">Create an account</button>
                            <button mat-stroked-button style="margin-left: 25%;" class="register-button">Forgot Password?</button>
                    </div>
                </form>
            </div>
        </div>
    </mat-card>
</div>