@import '../../componentsStyling/variables';
@import '../../componentsStyling/mixin';

.registration-div mat-card .mat-form-field {
    padding: 0px;
    margin-left: 8px;
}

.title {
    margin-top: 200px;
    position: absolute;
    margin-left: 115px;
    padding: 0px;
    padding-top: 20px;
    transform: translate(-50%, -50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subheading {
    padding-top: 45px;
    margin-left: 35px;
    h3 {
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.registration-div mat-card {
    padding: 45px;
    border: 1px solid $gray
}


.registration-form {
    padding: 20px;
}

.register-button {
    @include buttonStyle;
    margin-left: 260px;
}

.login-link {
    border: $white;
    background-color: $white;
    color: $dodgerBlue;
    margin-left: 5%;
    text-decoration: none;
}

.email {
    padding: 20px;
    width: 460px;
}

.image {
    width: 220px;
    display: block;
    margin-left: 95px;
}

.card {
    display: flex;
}