.main-form {
    height: 100%;
    padding-top: 0%;
    width: 400%;
}

mat-form-field .mat-form-field {
    height: 500%;
    padding-top: 0%;
}

.form {
    display: flex;
    height: 500%;
    padding-top: 0%;
}