.title {
    font: 40%;
    padding-bottom: 2%;
}

.icons {
    padding-top: 5%;
    display: flex;
    button {
     margin-left: 40%;
    }
}

.update {
    overflow: hidden;
}

.cls-btn {
    margin-left: 38%;
}