<div class="main-box">
    <ng-container *ngFor="let array of notes">
        <div class="box" *ngIf="array.isTrashed === false && array.isArchieved === true" fxFlexAlign="stretch">
            <mat-card class="card">
                <div class=array-content>
                    <div>
                        {{array.title}}
                    </div>
                    <div class="description-content">
                        {{array.description}}
                    </div>
                </div>
                <div class="icons">
                    <button mat-icon-button matTooltip="UnArchive" (click)="fetchNoteId(array._id);unArchiveNote()">
                        <mat-icon fontSet="material-icons-outlined">unarchive</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </ng-container>
</div>
