<div fxLayoutAlign="center center" fxFlexFill class="registration-div">
    <mat-card fxFlex="33">
            <div class="registration-form">
                <h2>FundooNote</h2>
                <h3>Create your fundooNote account</h3>
            </div>
        <form fxLayoutAlign="stretch" fxLayout="row" class="registration-form">
            <mat-form-field hideRequiredMarker appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name"required>
            </mat-form-field>
          
            <mat-form-field hideRequiredMarker appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name" required>
              </mat-form-field>
        </form>
        <form fxLayoutAlign="stretch" fxLayout="column" class="registration-form">
            <mat-form-field hideRequiredMarker appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" style="width: 200px" placeholder="Email" required>
                <mat-hint>Use can use letters, numbers & periods</mat-hint>
            </mat-form-field>
        </form>
        <form class="registration-form">
            <mat-form-field hideRequiredMarker appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
            <mat-form-field hideRequiredMarker appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput type="password" placeholder="Confirm" required>
            </mat-form-field>   
            <mat-hint fxLayout="column">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>         
          </form>
          <button class="login-button" mat-flat-button type="submit">Sign in instead</button>
          <button class="register-button" mat-raised-button type="submit">Next</button>
    </mat-card>
</div>
