<div class="main-box">
    <ng-container *ngFor="let array of notes">
        <div class="box" *ngIf="array.isTrashed === true" fxFlexAlign="stretch">
            <mat-card class="card">
                <div class=array-content>
                    <div>
                        {{array.title}}
                    </div>
                    <div class="description-content">
                        {{array.description}}
                    </div>
                </div>
                <div class="icons">
                    <button mat-icon-button matTooltip="Delete forever" (click)="fetchNoteId(array._id);removeNote()">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Restore">
                        <mat-icon>restore_from_trash</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>
    </ng-container>
</div>
